@font-face {
    font-family: 'Inter';
    src: url('transfonter.org-20250803-034049/Inter-Regular.woff2') format('woff2'),
        url('transfonter.org-20250803-034049/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: grid;
    row-gap: 7px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #1992d4;
    color: white;
    min-width: 260px;
}

.logo {
    display: flex;
    gap: 10px;
    margin: 30px 0 10px 0;
    margin-left: 1.5rem;
    align-items: center;
}

li {
    list-style: none;
    margin: 1.5rem 0 1.5rem 2rem;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
    font-weight: 600;
}

.home {
    padding: 20px 0;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    background: white;
    padding: 15px 50px 10px 50px;
    box-shadow: 0px 5px 15px 0px rgba(56,56,56,0.3);
    min-width: 700px;
}

.search, .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myinfo, .notification {
    display: flex;
    gap: 20px;
    align-items: center;
}

button {
  font-size: small;
  font-weight: 600;
  width: 80px;
  height: 35px;
  margin-left: 15px;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-sizing: border-box;
  background: #1992d4;
  color: white;
}

button:hover {
  background: #F6F9FE;
  border: 1px solid #1992d4;
  color: #174ea6;
}
button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}


.main-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    background-color: #e2e8f0;
    min-width: 700px;
}

.container {
    grid-row: 1 / 3;
    padding: 40px 20px;
}

.cards {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px 0;
}

.card {
    background: white;
    border-radius: 10px;
    border-left: 10px solid #f0b429;
    padding: 30px 30px;
    padding-bottom: 80px;
    color: #797777;
    position: relative;
}

.title {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0;
}

.icons {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    justify-content: right;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.announcements {
    padding: 40px 15px;
    padding-right: 30px;
}

.announcements h3 {
    margin-bottom: 10px;
}

.announce {
    background: white;
    border-radius: 10px;
    padding: 10px 40px;
}

.announcement {
    padding: 40px 0;
}

.announcement:nth-of-type(2) {
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

.trending {
    padding-left: 15px;
    padding-right: 30px;
}

.trending h3 {
    margin-bottom: 10px;
}

.tr {
    background: white;
    border-radius: 10px;
    padding: 10px 40px;
}

.trend {
    padding: 10px 0;
    display: flex;
    gap: 10px;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

img {
    width: 70px;
    height:70px;
}

.logo svg, a svg {
    fill: white;
}

.logo svg {
    width: 50px;
    height: 50px;
}